<div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Crea una cuenta</h2>

    <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
      <p>
        <input type="text" name="name" placeholder="Nombre" ngModel required>
      </p>
      <p>
        <input type="email" name="email" placeholder="Email" ngModel required>
      </p>
      <p>
        <input type="password" name="password" placeholder="Contraseña" ngModel required>
      </p>
      <p>
        <input type="submit" value="Registrar">
      </p>
    </form>
  </div>
</div>